@charset "utf-8";

/* Mostrar Senha */

#pass {
    width: 155px;
    padding-right: 20px;
}
  
.olho {
    cursor: pointer;
    left: 160px;
    position: absolute;
    width: 30px;
    align-self: center;
}

.input-group-text {
    padding: 10px 20px 10px !important;
}